.container-section-admin {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.item-admin {
  width: 90%;
}

.item-admin-data {
  display: flex;
  flex-direction: column;
  border: 1px solid #afafaf;
  box-shadow: 5px 8px 8px rgba(143, 143, 143, 0.16);
  border-radius: 15px;
  padding: 10px;
  margin: 10px 7px;
}

.item-search-admin {
  margin: 10px;
}

.item-search-admin p {
  font-size: 1.4rem;
  margin-right: 10px;
}

.item-search-admin input {
  width: 100%;
  height: 38px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #dfe1e5;
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 0 1.5rem;
}

.item-search-admin input[type='date']::-webkit-clear-button {
  display: none;
}

.buttons-admin {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons-admin i {
  font-size: 2rem;
  color: #ffffff;
}

.buttons-admin button {
  margin: 10px;
}

.button-admin {
  width: 71px;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttons-admin .accept {
  background-color: #08c554;
}

.buttons-admin .deny {
  background-color: #c50808;
}

.buttons-admin .change {
  background-color: #0071d9;
}

.grilla {
  /* visibility: hidden; */
  display: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width: 930px) {
  h1 {
    font-size: 3rem;
  }

  .item-admin-data {
    /* visibility: hidden; */
    display: none;
    height: 0;
  }

  .item-admin {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item-admin:nth-child(2) {
    display: none;
  }

  .item-admin-data {
    width: 40%;
    display: flex;
  }
  .item-search-admin input {
    width: 300px;
    height: 38px;
  }

  /* ________grilla prueba________ */
  .grilla {
    /* visibility: visible; */
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
    grid-auto-columns: auto;
    margin: 10px 0;
    justify-content: center;
  }

  .grilla .title {
    font-weight: bold;
    color: #ffffff;
    background-color: var(--primary-color);
  }

  .grilla-item {
    border: 1px solid #dfe1e5;
    border-radius: 2px;
    padding: 10px;
    height: auto;
    width: 200px;
  }

  .grilla-item p {
    font-size: 1.6rem;
    text-align: center;
  }

  .grilla-item input {
    font-family: 'Poppins', sans-serif;
    height: 38px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    font-size: 1.4rem;
  }

  .grilla-item input[type='date']::-webkit-clear-button {
    display: none;
  }

  .button-grid {
    display: flex;
  }

  .button-grid .button-admin {
    width: 65px;
    height: 36px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

  .button-admin i {
    font-size: 1.6rem;
    color: #ffffff;
  }

  .accept {
    background-color: #08c554;
  }
  .deny {
    background-color: #c50808;
  }
  .change {
    background-color: #0071d9;
  }

  /* ________grilla prueba________ */
}
