.navbar:hover {
  width: 25rem;
}

.navbar:hover .link-text {
  display: block;
}

.nav-link * {
  color: #ffffff;
}

.nav-link-activated {
  filter: grayscale(0%) opacity(1);
  background-color: var(--primary-color);
}

.nav-link:hover * {
  color: #ffffff;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--primary-color);
}

.main-section .backgroundImg {
  width: 800px;
  height: 550px;
  margin: 0 auto;
  background-image: url('https://ik.imagekit.io/hpmztn0eqra/yes_2CcTGosEi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* :::::::::::::::::::::: */
.main-section-container h1 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: var(--primary-color);
}
.main-section-container h3 {
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.main-section-container p {
  margin-top: 1.3rem;
  text-align: center;
  font-size: 1.5rem;
}
.main-section-card p {
  text-align: left;
}

.main-section-card {
  text-align: justify;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  width: 800px;
  height: 170px;
}
